.hotels {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  padding-top: 26px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 49px;

  &__title {
    font-size: 21px;
    line-height: 26px;
    margin: 0;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 34px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #81b3d2;
    width: 280px;
    height: 58px;
    text-decoration: none;
    font-weight: bold;
  }

  &__button:hover,
  &__button:focus {
    background-color: #669ec0;
  }

  &__button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
  }
}

@media (min-width: @tablet-width) {
  .hotels {
    padding: 56px 150px 58px;

    &__title {
      font-size: 30px;
      margin-bottom: 33px;
    }

    &__button {
      width: 458px;
    }

    &__text {
      margin-bottom: 40px;
    }
  }
}
