.site-list {
  position: relative;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-list__item a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  text-decoration: none;
  color: #ffffff;
  background-color: #81b3d2;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: bold;
}

.site-list__item {
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;
  margin: 0;
  padding: 0;
}

.site-list__item:first-child {
  border-top: none;
}

.site-list__item:nth-last-child(1) {
  border-bottom: none;
}
