.video {
  text-transform: uppercase;
  text-align: center;
  padding-top: 34px;
  padding-bottom: 28px;
}

.video__title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 26px;
}

.video__text {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  padding-left: 27px;
  padding-right: 23px;
  margin-bottom: 34px;
}

.video__content {
  position: relative;
  display: flex;
  width: 321px;
  height: 201px;
  background: url("../img/video-mobile@1x.jpg");
  margin-bottom: 84px;
}

.video__scale {
  display: flex;
  width: 280px;
  height: 45px;
  background-color: #000000;
  opacity: 0.6;
  position: absolute;
  bottom: 0;
  left: calc(50% - 140px);
}

.video__buttons {
  position: absolute;
  display: flex;
  width: 280px;
  height: 66px;
  background-color: #f2f2f2;
  bottom: -66px;
  left: calc(50% - 140px);
}
